.header-toolbar {
  width: 100%;
  background-color: var(--verde);
  color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  height: 40px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
}


nav a {
  color: var(--branco);
  margin-left: 1rem;
  font-weight: bold;
}
