<mat-toolbar class="header-toolbar">
  <div class="logo">
  <a routerLink="/notas-fiscais">
    <img src="/logo-portal.svg" alt="Portal Dados Abertos" />
  </a>
</div>

  <span class="spacer"></span>

  <nav class="menu">
    <a mat-button routerLink="/notas-fiscais">Notas Fiscais</a>
    <a mat-button routerLink="/fornecedores">Fornecedores</a>
    <a mat-button routerLink="/orgaos">Órgãos</a>
    <a mat-button routerLink="/graficos">Gráficos Brasil</a>
    <a mat-button routerLink="/sobre">Sobre</a>
  </nav>
</mat-toolbar>
