.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: var(--cinza-claro);
  border-radius: 12px;
}

.filtros mat-form-field {
  flex: 1 1 200px;
  min-width: 180px;
}

.filtros button {
  align-self: end;
  height: 40px;
}

.titulo-secao {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding-left: 8px;
}

.titulo-secao h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--preto);
  margin: 0;
}

.icone-secao {
  color: var(--verde);
  font-size: 28px;
}


mat-card {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: var(--branco);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

mat-row:nth-child(even) mat-cell {
  background-color: #f9f9f9;
}

.btn-visualizar {
  color: var(--amarelo);
  background: none !important;
  border: none;
  box-shadow: none;
}

.btn-visualizar:hover {
  color: #e6b800;
  background: none !important;
}


mat-paginator {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
