.footer {
  width: 100%;
  background-color: var(--verde);
  color: var(--branco);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
